<div class="transer-form">
    <mat-form-field appearance="fill">
        <mat-label>User name</mat-label>
        <input type="text"
               placeholder="Pick one"
               aria-label="User name"
               matInput
               [(ngModel)]="userObj"
               [matAutocomplete]="auto"
               #userautocomplete>
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let user of users$ | async" [value]="user">{{user.value}}</mat-option>
        </mat-autocomplete>
      </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Amount</mat-label>
        <input matInput placeholder="" [(ngModel)]="amount">
    </mat-form-field>
    <button type="submit" mat-button (click)="makeTransfer()">Make transfer</button>
</div>
