mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
}

mat-sidenav {
    width: 250px;
}

main {
    padding: 10px;
}

.user-info {
    position: absolute;
    top: 16px;
    right: 10px;
    h3 {
        display: inline;
        color: white;
        margin-right: 20px;
    }
}