<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <h1>PW</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/make-transaction'">Make transaction</a>
      <a mat-button [routerLink]="'/transfers-history'">Transactions history</a>
    </div>

  </mat-toolbar-row>

</mat-toolbar>
<div class="user-info">
  <h3>{{ userName }}</h3>
  <h3>{{ balance }}</h3>
</div>
<router-outlet></router-outlet>